{% extends 'base.html' %}

{% block title %}Nouveau Département - HR Pulse{% endblock %}
{% block header_title %}Gestion Département{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'department_list' %}" class="btn btn-light border text-dark fw-semibold">
        <i class="fa-solid fa-arrow-left me-2"></i> Retour aux départements
    </a>
</div>

<div class="custom-card p-4" style="max-width: 650px;">
    <h4 class="fw-bold text-dark mb-4 border-bottom pb-2">
        <i class="fa-solid fa-sitemap me-2 text-primary"></i> Formulaire Département
    </h4>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label fw-semibold fs-7">Nom du Département *</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold fs-7">Code / Abréviation *</label>
            {{ form.code }}
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold fs-7">Responsable / Manager du département</label>
            {{ form.manager }}
        </div>
        <div class="mb-4">
            <label class="form-label fw-semibold fs-7">Description</label>
            {{ form.description }}
        </div>

        <div class="d-flex justify-content-end gap-2 border-top pt-3">
            <a href="{% url 'department_list' %}" class="btn btn-light border">Annuler</a>
            <button type="submit" class="btn btn-primary px-4 fw-semibold shadow-sm">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock %}
